reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

header {
    width: 100%;
    height: 80px;
    
    background-color: rgba(17, 16, 65, 0.247); 

  
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px); 

   
    position: fixed; 
    top: 0;
    left: 0; 
    z-index: 1000; 

  
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 


    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 

    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.textos-header {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto-button {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.texto-button:hover {
    color: #ffd900;
    translate: 0px -3px;
    font-size: 20px; 
    text-decoration: none;
}

/* Estilização do corpo da página */
body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #000816 0%, #00102b 100%);
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    overflow: hidden;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    flex: 1;
    gap: 20px;
}

h1 {
    color: #ffd900;
    font-size: 84px;
    text-align: left;
    max-width: 500px;
    margin-left: 100px;
    margin-bottom: 70px;
    text-shadow: 0 0 150px #ffd900;;
    line-height: 1.3;
    font-weight: 700;
    transition: all 0.3s ease;

}
h1:hover{
    color: #ffffff;
    font-size: 84px;
    text-align: left;
    max-width: 500px;
    margin-left: 130px;
    margin-bottom: 70px;
    text-shadow: 0 0 150px #ffffff;;
    line-height: 1.3;
    font-weight: 700;

}

.caixa1 {
    width: 100%;
    height: 100vh;
    
    background-image:
        linear-gradient(rgba(8, 8, 66, 0.842), rgba(30, 30, 92, 0.4)), 
        url('../img/jeremiah.png');
        
    background-size: cover;
    background-position: center;

    mask-image: linear-gradient(to right, 
        rgba(0, 0, 0, 0) 0%,   
        rgba(0, 0, 0, 1) 30%   
    );

    -webkit-mask-image: linear-gradient(to right, 
        rgba(0, 0, 0, 0) 0%, 
        rgba(0, 0, 0, 1) 30%
    );
}


.home {

    transition: all 0.7s ease;
    font-size: 18px; 
    color: #ffffff;  
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}


.home:hover {
    color: #ffd900;
    translate: 0px -3px;
    font-size: 20px; 
    text-decoration: none;
}
.Sobre {

    transition: all 0.3s ease;
    font-size: 18px; 
    color: #ffffff;  
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}


.Sobre:hover {
    color: #ffd900;
    translate: 0px -3px;
    font-size: 20px; 
    text-decoration: none;
}
.Entrevista {

    transition: all 0.3s ease;
    font-size: 18px; 
    color: #ffffff;  
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}


.Entrevista:hover {
    color: #ffd900;
    translate: 0px -3px;
    font-size: 20px; 
    text-decoration: none;
}