reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
/* Estilização do corpo da página */
body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #000816 0%, #00102b 100%);
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-top: 30px;

}

header {
    width: 100%;
    height: 80px;    
    background-color: rgba(17, 16, 65, 0.247); 
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px); 
    position: fixed; 
    top: 0;
    left: 0; 
    z-index: 1000; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);   
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.textos-header {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto-button {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.texto-button:hover {
    color: #ffd900;
    translate: 0px -3px;
    font-size: 20px; 
    text-decoration: none;
}
