/* reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização do corpo da página */
body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, #000816 0%, #021e50 100%);
    padding: 0;
    display: flex;
    flex-direction: column; /* Corrigido de 'space between' para 'column' */
    padding-top: 30px;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgba(17, 16, 65, 0.247);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.textos-header {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto-button {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.texto-button:hover {
    color: #ffd900;
    transform: translateY(-3px); /* Use transform para 'translate' */
    font-size: 20px;
    text-decoration: none;
}

.conteudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* Adicionado padding-top para o conteúdo não ficar abaixo do header fixo */
    padding-top: 80px; 
    width: 90%; /* Ajuste a largura conforme necessário */
    margin: 0 auto; /* Centraliza o conteúdo */
}

.container-sobre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    padding: 80px 0;
    margin-left: 60px;
    margin-bottom: 60px;
}

.caixa1 {
    margin-right: 50px;
    width: 700px;
    height: 700px;
    background-image: url('../img/jeremiapc.jpg');
    background-size: cover;
    background-position: center; 
    filter: brightness(0.8) saturate(1.4) blur(0px); 

  
    -webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, ) 90%, rgba(0, 0, 0, 0) 90%);
    mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%);


    transition: transform 0.4s ease, filter 0.4s ease, box-shadow 0.4s ease;
}

.caixa1:hover {
        transform: scale(1.1);
 -webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, ) 90%, rgba(0, 0, 0, 0) 90%);
    mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%);
    filter: brightness(1) saturate(1.8) ; /* Um pouco menos de blur no hover */
    box-shadow: 0 15px 45px rgba(255, 255, 255, 0.4);
}

h1 {
    color: #ffd900;
    text-align: start;
    margin-top: 120px;
    font-size: 56px;
    font-weight: bold;
}

p {
    color: #ffffff;
    text-align: justify;
    font-size: 24px;
    line-height: 1.6;
    width: 80%;
    font-weight: normal;
}